<!DOCTYPE html>
<html>

    <head>
      <!--Index page for LEDG dashboard app, a simple page with two options. Create new account, or login-->
      <title>josephroussos.dev/chess/home</title>
      <!--bootstrap theme (cyborg theme)-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    </head>

    <style>
      h1 {text-align: center; font-size: x-large;}
      p {font-size: large; text-align: center}
      .centerText{
          text-align: center;
          font-size: medium;
      }
      label{
          display: inline-block;
      }
     .btn{
         margin: 2%;
         height: 10vh;
         width: 10vw;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         font-size: medium;
         background-color: #292626;
     }

    </style>

    <body>

        <p>Joseph Roussos</p>
        <h1>Login, or Create an Account to view your chess.com stats.  For testing purposes you can log in as a guest.</h1>
        <p><a class="btn btn-dark" href="{{ url_for('chess', pageName='create_account') }}" role="button">Create Account</a></p>
        <p><a class="btn btn-dark" href="{{ url_for('chess', pageName='login') }}" role="button">Login</a></p>
        <p><a class="btn btn-dark" href="{{ url_for('chess', pageName='profile') }}" role="button">Guest Login</a></p>

    </body>
</html>