<!DOCTYPE html>
<html>

<head>
 <title></title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/chessStyles.css') }}">
</head>

<style>
h1 {text-align: center;}
p {text-align: center;}
.btn{
         margin: 2%;
         height: 10vh;
         width: 10vw;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         font-size: medium;
         background-color: #292626;
     }

.centerText {
  text-align: center;
}
</style>

<body>

{% include 'flash_messages.html' %}
{% include 'nav.html' %}
<h1>Welcome {{name}}</h1>
<h1>You may add games from Chess.com or view currently stored games</h1>

<p><a class="btn btn-dark" href="{{ url_for('chess', pageName='add_games') }}" role="button">Add Games</a></p>
<p><a class="btn btn-dark" href="{{ url_for('chess', pageName='view_games') }}" role="button">View Games</a></p>

</body>
</html>