<!DOCTYPE html>
<html>

    <head>
      <!--Index page for LEDG dashboard app, a simple page with two options. Create new account, or login-->
      <title>josephroussos.dev/chess/home</title>
      <!--bootstrap theme (cyborg theme)-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    </head>

    <style>
      h1 {text-align: center;}
      p {font-size: large}
      .centerText{
          text-align: center;
          font-size: medium;
      }
      label{
          display: inline-block;
      }
     .btn{
         margin: 2%;
         height: 10vh;
         width: 10vw;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         font-size: medium;
         background-color: #292626;
     }

    </style>

    <body>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
       {% if errors %}
         <div class="alert_error">
            {% for message in errors %}
          <li>{{ message }}</li>
       {% endfor %}
       </div>
       {% endif %}
    {% endwith %}

        <p>Joseph Roussos</p>
        <h1>Please provide a Chess.com username.  If you don't have one, use mine: Cheesecube01</h1>
        <form action="{{url_for('chess_page', pageName='home')}}" method="post">
           <div class="centerText">
              <label for="userName">User Name:</label>
              <input type="text" id="userName" name="userName" placeholder="Chess.com username">
           </div>



        </form>



    </body>
</html>