<!DOCTYPE html>
<html>

    <head>
      <!--Index page for LEDG dashboard app, a simple page with two options. Create new account, or login-->
      <title>josephroussos.dev</title>
      <!--bootstrap theme (cyborg theme)-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    </head>

    <style>
      h1 {text-align: center;}
      p {text-align: center;}
      .container{
          height: 100vh;
          width: 100vw;
          display: flex;
          align-content: center;
          justify-content: center;
          flex-wrap: wrap;
      }

    </style>

    <body>
        <p1>Joseph Roussos</p1>
        <div class="container">
            <button type="button" class="btn btn-dark">Chess Stats</button>
            <button type="button" class="btn btn-dark">Wordle Helper</button>
        </div>



    </body>
</html>